.header,.footer{

width:100%;
text-align:center;
background-color:#BDBDBD;
}



.leftMenu{
height:500px;
background-colr:#D8D8D8;
width:250px;
}

.mainContent{
height:500px;
background-color:#E6E6E6;
width:750px;
}
a{display:block;}